<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.MMapper">
	
	<select id="selectLogin" resultType="com.java.dto.Member">
		select * from mem where id=#{id} and pw=#{pw}
	</select>
	
	<select id="selectId" resultType="string">
		select id from mem where name=#{name} and email=#{email}
	</select>
	
	<select id="idck" resultType="String">
		select id from mem where id=#{id}
	</select>
	
	<insert id="insertJoin">
		insert into mem values(mem_seq.nextval,#{name},#{id},#{pw},#{email},#{addr},#{phone},#{gender},#{bdate})
	</insert>
	
	<select id="selectOne" resultType="com.java.dto.Member">
		select * from mem where id=#{id}
	</select>
	
	<update id="modiMem">
		update mem set pw=#{pw}, email=#{email}, addr=#{addr}, phone=#{phone}, bdate=#{bdate} where id=#{id}
	</update>
	
</mapper>